@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-pasopati-green{
    background-color: #2b5343;
}

.bg-pasopati-red{
    background-color: #D61920;
}

.text-pasopati-red{
    color: #D61920;
}

.text-pasopati-green{
    color: #2b5343;
}

.border-pasopati-green {
    
    border-color: #2b5343;
}

.h-pasopati-hero{
    height: 70vh;
}

.h-98{
    height: 28rem ;
}

.h-100{
    height: 36rem ;
}

.w-95{
    width: 23rem;
}

.rotate-40{
    --tw-rotate: 9deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-40 {
    --tw-rotate: -35deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}